.flex{
    display: flex;
}

.content_box {
    width: 1300px;
    margin: 0 auto;

    height: 100%;
    position: relative; 

    /* background-color: antiquewhite; */
}

.content_space{
    width: 1000px;
    margin: 0 auto;
}

.content_form{
    width: 800px;
    margin: 0 auto;
}

h1{
    margin-top: 80px;
}

body{
    margin: 0;
    padding: 0;

    user-select: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}

a{
    
    text-decoration: none;
}

/* ------------------------------------ */

/* HEADER */

.header{
    width: 100%;
}

.header_case{
    background-color: rgb(255, 243, 223);
}

.header_top{
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    box-sizing: border-box;
}

.header_top_L{
    gap: 30px;
}

.header_top_R{
    gap: 30px;
}

.name{
    
    font-size: 25px;
    font-weight: 900;
}

.haeder_top_txt{
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
    cursor: pointer;
}

.haeder_top_a{
    color: orange;
}

.haeder_top_a1{
    color: black;
}

/* --------------------------------- */

/* main 시작작 */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.write-btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.write-btn:hover {
    background-color: rgb(240, 156, 0);
}

.board-list {
    width: 100%;
    border-collapse: collapse;
}

.board-list th, .board-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.board-list th {
    background-color: #f2f2f2;
}

.board-list tr:nth-child(even) {
    background-color: #f9f9f9;
}

.board-list tr td:nth-child(1) {
    /* 글 넘버버 */
    width: 40px;
    font-size: 14px;
}

.board-list tr td:nth-child(3) {
    /* 글쓴이 */
    width: 140px;
    font-size: 14px;
}

.board-list tr td:nth-child(4) {
    /* 시간간 */
    width: 100px;
    font-size: 14px;
}

.board-list tr td:nth-child(5) {
    /* 조회수 */
    width: 60px;
    font-size: 14px;
}

.board-list a {
    text-decoration: none;
    color: #333;
}

.board-list a:hover {
    color: #007bff;
}

/* 헤더 (민원/건의 게시판판) */

.list_header{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
}

.list_title{
    font-size: 20px;
    font-weight: 700;

    line-height: 60px;
}